{% extends 'generic/base.html' %}

{% block content %}
    <center>
        <h1 class="text-white"> Add Event to Calendar </h1>
        <br><br>
        {% if submitted %}
        <h5 class="text-white">Your event was added successfully!</h5>
        {% else %}
        <form action="" method="POST" class="text-white" enctype="multipart/form-data">
            {% csrf_token %}
             {{ form.as_p }}
            <input type="submit" value="Submit" class="btn btn-secondary" name="eventButton">
        </form>
        {% endif %}
    </center>
{% endblock content %}